flows/CustomScriptRequest/Microsoft.Flow/flows/fc4a79e2-c5a4-4ad0-9937-59a7c65a7414/definition.json
{"name":"dd193907-730c-474c-bd25-a631c45f7338","id":"/providers/Microsoft.Flow/flows/dd193907-730c-474c-bd25-a631c45f7338","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Custom Script Requester","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"4af50d87-e728-484e-874c-3f4536b38fee","type":"User","tenantId":"aecb54e0-7430-409d-86a4-7639c743eee7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-10T17:47:53.0490394Z","connectionKeySavedTimeKey":"2024-07-10T17:47:53.0490394Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_an_item_or_a_file_is_modified":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dattaspo.sharepoint.com/sites/Demo/cse","table":"4e2c7118-8755-4259-a712-626c8274ec8c"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnChangedItems"},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@equals(triggerOutputs()?['body/Status/Value'], 'Processed')"}]}},"actions":{"Get_Request_Item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dattaspo.sharepoint.com/sites/Demo/cse","table":"4e2c7118-8755-4259-a712-626c8274ec8c","id":"@triggerBody()?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Update_item":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dattaspo.sharepoint.com/sites/Demo/cse","table":"4e2c7118-8755-4259-a712-626c8274ec8c","id":"@body('Get_Request_Item')?['ID']","item/Title":"@{body('Get_Request_Item')?['Title']}","item/Status/Value":"Completed"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Get_Request_Item')?['Author']?['Email']","emailMessage/Subject":"Custom Script Request Processed","emailMessage/Body":"<p>@{body('Get_Request_Item')?['Author']?['DisplayName']},</p><br><p>The request to enable custom scripts for site \"@{body('Get_Request_Item')?['Title']}\" was processed successfully.</p><br><p>Thanks,</p><p>SPO Team</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"owners":{"runAfter":{"Get_Request_Item":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"owners","type":"array","value":[]}]}},"Apply_to_each":{"foreach":"@body('Get_Request_Item')?['Owners']","actions":{"Append_to_array_variable":{"type":"AppendToArrayVariable","inputs":{"name":"owners","value":"@items('Apply_to_each')['EMail']"}}},"runAfter":{"owners":["Succeeded"]},"type":"Foreach"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-66a6d844-5e1b-4fa5-a8f1-40d37f28a005","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-0f5dbe87-55c2-42fe-acb8-a951635aebe6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}